<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body>


    <h1>Register</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <form action="/register" method="post">
        {% csrf_token %}
        <p>First Name: <input type="text" name="f_name"></p>
        <p>Last Name: <input type="text" name="l_name"></p>
        <p>Email: <input type="text" name="email"></p>
        <p>Password: <input type="text" name="password"></p>
        <p>Confirm Password: <input type="text" name="c_password"></p>   
        <input type="submit" value="Register">
    </form>

    <br>
    <hr>

    <h1>Login</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <form action="/login" method="post">
        {% csrf_token %}
        <p>Email: <input type="text" name="email"></p>
        <p>Password: <input type="text" name="password"></p>
        <input type="submit" value="Login">
    </form>

</body>

</html>